*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: 100px;
	grid-column-gap: 30px;
}

.circle {
	border-radius: 50%;
	position: relative;
	background: red;
}

.circle::after {
	border-radius: 50%;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 5%;
	height: 5%;
	background: white;
}

.circle-1::after {
	transform: translate(-50%, -50%) scale(1);
	animation: scale_a 1.5s infinite ease-in-out;
}


.circle-2::after {
	transform: translate(-50%, -50%) scale(10);
	animation: scale_b 1.5s infinite ease-in-out;
}

.circle-3::after {
	transform: translate(-50%, -50%) scale(17);
	animation: scale_c 1.5s infinite ease-in-out;
}

@keyframes scale_a {
	0% {
		tarnsform: translate(-50%, -50%) scale(1);
	}

	50% {
		transform: translate(-50%, -50%) scale(17);
	}
}

@keyframes scale_b {
	0% {
		tarnsform: translate(-50%, -50%) scale(10);
	}

	50% {
		transform: translate(-50%, -50%) scale(17);
	}
}

@keyframes scale_c {
	0% {
		tarnsform: translate(-50%, -50%) scale(17);
	}

	50% {
		transform: translate(-50%, -50%) scale(1);
	}
}
